@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.Toastify__toast-container {
  z-index: 9999 !important;
}

 :root{
    --text-primary: #EBEBEB;
    --text-secondry: #A3AED0;
    --bg-primary: #0B1437;
    --bg-secondry: #111C44;
    --bg-third: #1f294f;
  }

  @theme{
    --breakpoint-first: 1200px;
    --breakpoint-second: 960px;
    --breakpoint-third: 768px;
    --breakpoint-forth: 576px;
    --breakpoint-fifth: 420px;
    --breakpoint-sixth: 320px;
  }